<form class="mt-5" [formGroup]="createFormGroup" (ngSubmit)="createClientList()">
    <label>Name</label>
    <input type="text" formControlName="name">
    <label>UserName</label>
    <input type="text" formControlName="username">
    <label>Email</label>
    <input type="email" formControlName="email">
    <label>Phone</label>
    <input type="text" formControlName="phone">
    <button >Create List</button>
</form>


<table class="table table-responsive" >
    <thead>
      <tr>
        <th>name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>website</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <td>{{list.name}}</td>
        <td>{{list.username}}</td>
        <td>{{list.email}}</td>
        <td>{{list.phone}}</td>
        <td>{{list.website}}</td> -->
        {{result}}
        <td>
          <button>Edit</button> | <button>Delete</button>
        </td>
      </tr>
    </tbody>
  </table>